* { box-sizing: border-box;}

body { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000;
    color: #FFF;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.row { display: flex; }

.first {
    background-color: #000;
    margin-bottom: 400px;
}

/* start navbar */

nav { height: 0;  position: relative;  z-index: 2;}

nav .contain {padding: 30px;}

nav .list-1,nav .list-2 {flex: 40%;max-width: 40%;}

nav .list-1 { text-align: right;}

nav .list-2 { text-align: left;}

nav .logo { flex: 20%; max-width: 20%; text-align: center;}

nav .logo h2 {margin: -3px;}

nav ul { list-style: none; padding: 0; margin: 0;}

nav ul li { display: inline-block; }

nav ul li a { 
    text-decoration: none; 
    color: #fff;
    margin-right: 10px;
    padding: 5px;
    font-size: 17px;
    position: relative;
}
nav ul li a span:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    transition: .2s;
    border-top: 2px solid #d63347;
    border-left: 2px solid #d63347;
    opacity: 0;
}
nav ul li a span:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    transition: .2s;
    border-top: 2px solid #d63347;
    border-right: 2px solid #d63347;
    opacity: 0;
}
nav ul li a span:last-child::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    transition: .2s;
    border-bottom: 2px solid #d63347;
    border-left: 2px solid #d63347;
    opacity: 0;
}
nav ul li a span:last-child::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    transition: .2s;
    border-bottom: 2px solid #d63347;
    border-right: 2px solid #d63347;
    opacity: 0;
}
nav ul li a:hover span:first-child::before {
    top: -10px;
    left: -10px;
    opacity: 1;
}
nav ul li a:hover span:first-child::after {
    top: -10px;
    right: -10px;
    opacity: 1;
}
nav ul li a:hover span:last-child::before {
    bottom: -10px;
    left: -10px;
    opacity: 1;
}
nav ul li a:hover span:last-child::after {
    bottom: -10px;
    right: -10px;
    opacity: 1;
}
/* end navbar */

/* start header */
.header {
    height: 695px;
    z-index: 1;
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header .info h2 { font-size: 90px; margin-bottom: 0;}

.header .info p {
    font-size: 40px; 
    line-height: 1.5;
    margin-top: 10px;
}

/* end header */

/* start portfolio */

.portfolio .row .box {
    flex: 33.333333%;
    max-width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    border-bottom: .5px solid #222;
}

.portfolio .row .box:not(:nth-of-type(2)) {
    border-left: .5px solid #222;
    border-right: .5px solid #222;
}
.portfolio .title h3 {
    font-size: 30px;
    text-transform: capitalize;
}
.portfolio .row .box img {
    width: 100%;
    margin: 15px 0;
}
.portfolio .row .box:not(:first-of-type) {
    padding-top: 94px;
}
.portfolio .overlay:hover {opacity: 1;} 

.portfolio .overlay { 
    opacity: 0;
    transition: .3s;
}  
/* end portfolio */

/* start brands */
.brands .row .brand {
    flex: 20%;
    max-width: 20%;
    padding: 60px 15px 30px;
}
.brands .row .brand:nth-child(odd) {
    border-left: .5px solid #222;
    border-right: .5px solid #222;
}
.brands .row .brand img { width: 100% ;}
/* end brands */

/* start about me */
.about { margin-top: 80px;}

.about .image {
    width: 66.66666%;
    max-width: 66.66666%;
    padding: 0 15px;
    border-left: .5px solid #222;
    position: relative;
}
.about .image::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -40px;
    right: 61px;
    width: 250px;
    height: 250px;
    background-image: url(../images/dotted_light.png);
}
.about .image img { width: 85%;}

.about .info {
    width: 33.33333% ;
    max-width: 33.33333%;
    padding: 0 15px;
    border-left: .5px solid #222;
    border-right: .5px solid #222;
}
.about .info h3 { font-size: 25px; font-weight: 800;}

.about .info p {
    font-size: 18px;
    color: #ddd;
    line-height: 1.7;
    padding-right: 60px;
}
/* end about me */

/* start services */
.services { padding-top: 100px;}

.services .box {
    flex: 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px 0 40px;
}
.services .box:not(:nth-of-type(2)){
    border-left: .5px solid #222;
    border-right: .5px solid #222;
}
.services .box .info { margin-bottom: 50px;}

.services .box img { width: 45px; height: 45px;}

.services .box h5 { font-size: 24px; margin: 10px 0;}

.services .box p {
    font-size: 17px;
    color: #ccc;
    padding-right: 80px;
    line-height: 1.6;
}
/* end services */

/* start skills */
.skills { margin-top: 80px;}

.skills .skill {
    flex: 25%;
    max-width: 25%;
    padding: 0 15px;
    margin-top: 20px;
    text-align: center;
    border-left: .5px solid #222;
    border-right: .5px solid #222;
}
.skills .skill .main-span { font-size: 70px; font-weight: 600;}

.skills .skill .sup {
    position: relative;
    top: -30px;
    font-size: 30px;
}
.skills .skill p {
    font-size: 13px;
    font-weight: 900;
    margin-left: -25px;
    text-transform:uppercase ;
}
/* end skills */

/* start testimonials */
.testimonials { margin-top: 100px;}

.testimonials .box {
    background-color: #212121;
    padding: 50px;
    text-align: center;
    box-shadow: 0px 30px 0px -20px #d63347;
}
.testimonials .box span { font-size: 90px;}

.testimonials .box p {
    font-size: 22px;
    line-height: 40px;
    color: #ccc;
}
.testimonials .info {
    text-align: center;
    position: relative;
    top: -40px;
}
.testimonials .info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonials .info h5 {
    margin: 15px 0 6px;
    color: #ccc;
    font-size: 19px;
    text-transform: capitalize;
}
.testimonials .info span {
    font-size: 13px;
    color: #555;
}
.testimonials .pagination { text-align: center;}

.testimonials .pagination span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #555;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.testimonials .pagination span.active,
.testimonials .pagination span:hover {
    background-color: #fff;
}

.testimonials .arrows { position: relative;}

.testimonials .arrows i {
    position: absolute;
    font-size: 22px;
    top: -19px;
    cursor: pointer;
}
.testimonials .fa-chevron-left { left: 0;}

.testimonials .fa-chevron-right { right: 0;}
/* end testimonials */

/* start my journal */
.journal { margin-top: 100px;}

.journal .big {
    flex: 66.66666%;
    max-width: 66.66666%;
    border-left: .5px solid #222;
    border-right: .5px solid #222;
    padding: 0 15px;
}
.journal .small {
    flex: 33.33333%;
    max-width: 33.33333%;
    border-right: .5px solid #222;
    padding: 0 15px;
}
.journal .row img {
    width: 100%;
    height: 330px; 
    margin-bottom: 30px;
}
.journal .ss { flex: 50%; max-width: 50%;}

.journal .ss:first-of-type{ padding-right: 15px; }

.journal .ss:last-of-type{
    padding-left: 15px;  
    border-left: .5px solid #222;
}
.journal .image-over:hover .overlay { opacity: 0;}

/* end my journal */

/* start contact */

.contact{ margin-top: 100px; padding-bottom: 60px;}

.contact .inputs{
    flex: 66.66666%;
    max-width: 66.66666%;
    border-left: .5px solid #222;
    padding: 0 15px;
}
.contact .info {
    flex: 33.33333%;
    max-width: 33.33333%;
    border-right: .5px solid #222;
    border-left: .5px solid #222;
    padding: 0 15px;
}
.contact .inputs input {
    background: none;
    border: 0;
    border-bottom: 1px solid #666;
    padding: 15px 0;
    width: 47%;
    margin-bottom: 30px;
    outline: none;
    color: #fff;
}
.contact .inputs input:first-of-type {  margin-right: 20px;}

.contact .inputs textarea {
    background: none;
    border: 0;
    border-bottom: 1px solid #666;
    padding: 15px 0;
    width: 100%;
    margin-bottom: 30px;
    outline: none;
    color: #fff;
    height: 200px;
}
.contact .info span { display: block;}

.contact .info .text { margin-bottom: 30px;}

.contact .info span:first-of-type{
    text-transform: uppercase;
    font-size: 13px;
    color: #888;
    font-weight: 800;
}
.contact .info span:last-of-type{
    font-size: 22px;
    margin-top: 12px;
    letter-spacing: 1px;
}
/* end contact */

/* start footer */
.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
footer{
    background-color: #191919;
    height: 400px;
    text-align: center;
    padding-top: 100px;
}
footer .social { margin: 40px 0;}

footer .social span {
    margin-right: 20px;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    cursor: pointer;
}
footer .social span:hover { color: #fff;}

footer p { color: #999;}

footer p span { font-weight: 900;}

/* end footer */

/* start fram work */

.main-span {color: #d63347;}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: .3s;
}

.heading { text-align: center; margin-bottom: 30px;}

.heading h2 {
    font-size: 32px;
    text-transform: capitalize;
    margin: 15px;
}
.heading img { width: 90px;}

.image-over { position: relative;}

.image-over .info {
    position: absolute;
    bottom: 50px;
    left: 15px;
}
.image-over .info p { font-size: 18px; margin: 0 0 5px;}

.image-over .info span { color: #999;}

.main-btn {
    background: none;
    color: #FFF;
    padding: 16px 25px;
    border-radius: 51px;
    border: 1px solid #222;
    transition: .3s;
    cursor: pointer;
    text-transform: uppercase;
}
.main-btn:hover {
    transform: scale(1.05);
    color: #d63347;
    border: 1px solid #d63347;
}
/* end fram work */